/* COLORS */
$background-grey: #eaeaea;

/* GENERAL */
body {
    background-color: $background-grey;
    margin: 0;
    padding: 0;
}

/* CONTAINERS */

#grid-container {
    margin: auto;
    width: 10em;
    height: 5em;
    background-color: white;
}

#site-container {
    display: flex;

    /* */
    position: fixed;
    left: 0;
    top: 0;

    /* size */
    height: 100vh;
    width: 100vw;
}