/* COLORS */
$background-grey: #eaeaea;
$row-bg-white: #FFF;
$pic-font-color: #FFF;

body {
    background-color: $background-grey;
    font-family: "Century Gothic";
    margin: 0 auto;
}

/* PANELS */
.panel {
    height: 50vh;
    width: 50vw;
}

.picture {
    position: relative;
    z-index: 0;
}

.picture-fade {
    /* fade */
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 50%);
    opacity: 0.4;

    /* positioning */
    position: absolute;
    bottom: 0;
    height: 301px;
    width: 300px;
    z-index: 1;
}

.square {
    background-color: $row-bg-white;
    display: inline-block;
    height: 301px;
    width: 300px;
}

.text-wrapper {
    /* size & padding */
    padding: 2.3em;
    width: auto;

    .header {
        /* font */
        font-size: 10px;
        letter-spacing: 0.4em;

        /* padding */
        padding: 1em 0 1.1em;
    }

    img {
        height: 2em;
        width: auto;
    }

    .square-descript {
        font-size: 19px;
        line-height: 1.3em;
    }
}

/* TEXT */
.header {
    font-weight: 700;
    text-transform: uppercase;
}

.picture-text-wrapper {
    /* font */
    color: $pic-font-color;

    /* positioning */
    position: absolute;
    bottom: 0;

    /* size & padding */
    padding: 22px 22px 32px 22px;
    width: auto;
    z-index: 3;

    .header {
        font-size:8px;
        letter-spacing: 0.2em;
        margin: 5px 0;
    }

    .read {
        display: none;
        letter-spacing: 0;
    }

    .text {
        display: none;
        font-size: 10px;
        letter-spacing: .05em;
        padding: 0.5em 1.5em 0.5em 0;
    }

    .title {
        font-size: 24px;
    }
}

.picture:hover {
    .read {
        display: block;
    }

    .picture-fade {
        /* fade */
        background: rgb(0,0,0);
        background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
        opacity: 0.76;
    }

    .text {
        display: block;
    }
}

/* ROW 1 */
#row-1 {
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 50vh;

    .left-panel {
        /* display */
        display: flex;
        flex-direction: column;

        /* positioning */
        position: absolute;
        left: 0px;
        top: 0px;

        .square {
            position: absolute;
            right: 0px;
            bottom: 0px;
        }
    }

    .right-panel {
        /* Positioning */
        position: absolute;
        right: 0px;
        top: 0px;

        /* dimension */
        width: 50vw;
        height: 50vh;

        .square {
            /* Lewk */
            background-image: url("/images/cocoa_wokers.png");
            background-size: cover;

            /* Positioning */
            position: absolute;
            left: 0px;
            bottom: 0px;
        }
    }

    /* Picture Overlay */
    #choco-bar {
        height: auto;
        width: 445px;

        position: absolute;
        top: 1vh;
        right: 0;
        z-index: 4;

        img {
            height: 22vh;
            width: auto;
        }

        #bar {
            position: absolute;
            z-index: 6;
        }

        #bits {
            position: absolute;
            z-index: 5;
        }
    }
}

/* ROW 2 */

#row-2 {
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100vw;
    height: 50vh;

    .left-panel {
        /* display */
        display: flex;
        flex-direction: column;

        /* positioning */
        position: absolute;
        left: 0px;
        bottom: 0px;

        .square {
            /* Lewk */
            background-image: url("/images/candy_aisle.png");
            background-size: cover;

            /* Positioning */
            position: absolute;
            right: 0px;
            top: 0px;
        }
    }

    .right-panel {
        /* positioning */
        position: absolute;
        right: 0px;
        bottom: 0px;
        z-index: 0;

        /* dimensions */
        width: 50vw;
        height: 50vh;

        .square {
            /* Positioning */
            position: absolute;
            left: 0px;
            top: 0px;
            z-index: 0;
        }

        /* Picture Overlay*/

        #kisses {
            height: 00px;
            width: 425px;

            /* positioning */
            position: absolute;
            bottom: -10vh;
            left: 0;
            z-index: 4;
    
            img {
                height: 35vh;
                width: auto;

                position: absolute;
                bottom: 0;
                right: 0;
            }
        }
    }
}